.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  width: 18rem; // Set the card width
  margin: 1rem; // Add some margin for spacing
  border: 1px solid #ddd; // Optional: border for the card
  border-radius: 8px; // Optional: border radius
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Optional: shadow effect
}

.product-gallery {
  display: flex;
  flex-direction: column; // Stacks images vertically
}

.product-image {
  margin-bottom: 5px; // Spacing between images
}
.product-cards-container p{
  padding-left: 4px;
}

.heads {
  font-size: 3rem; /* Adjust the size as needed */
  color: purple;   /* Sets the text color to purple */
  margin-top: 20px;
}